<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/suit.css">
    
    <title>Suit</title>
</head>
<body>

    <!-- Top Navigation-->
    <header>
        <div class="back">
            <h1><a href="/"> < </a></h1>
        </div>
        <div class="brand">
            <img src="/assets/logo.png">
            <h1 style="text-transform: uppercase;">WELCOME TO ROCK PAPER SCISSORS, <%= dataUser %> </h1>
        </div>
    </header>    
    <!-- End of Top Navigation -->


    <!-- Area Game -->
    <section>
        <div class="area-game">
            <div>
                <h1 class="player-name">PLAYER 1</h1>
                <div class="used">
                    <button class="tools dissap" id="rock-user">
                        <img class="tool" src="/assets/batu.png" alt="batu">
                    </button>
                    <button class="tools dissap" id="paper-user">
                        <img class="tool" src="/assets/kertas.png" alt="kertas">
                    </button>
                    <button class="tools dissap" id="scissor-user">
                        <img class="tool" src="/assets/gunting.png" alt="gunting">
                    </button>
                </div>
            </div>

            <div class="Versus-Reset">
                <div class="boxR" id="box">
                    <h1 id="h1" class="h1Box">VS</h1>
                </div>
                <!--For Refresh-->
                <div class="refresh">
                    <img id="refresh" src="/assets/refresh.png">
                </div>
            </div>

            <!--Com Play-->
            <div class="Com-Choice">
                <h1 class="player-name">COM</h1>
                <div class="used">
                <button class="tools dissap" id="rock-com">
                    <img src="/assets/batu.png" alt="batu" >
                </button>
                <button class="tools dissap" id="paper-com">
                    <img src="/assets/kertas.png" alt="kertas" >
                </button>
                <button class="tools dissap" id="scissor-com">
                    <img src="/assets/gunting.png" alt="gunting" >
                </button>
                </div>
            </div>
        </div>


        <div>

        </div>
    </section>


    <script src="/js/suit.js">

    </script>
</body>
</html>

